.allevents{
    padding: 10px;
}
.square{
    text-align: center;
    border-bottom: 1px solid gray;

}
.event_title{
    color: rgb(85, 83, 83);
    width: 100%;
}
.time{
    display: flex;
    justify-content: center;
}
.controls{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.row {
    margin: 0;
}