<h1 class="main_text">Show All Events</h1>
<div class="container allevents shadow">
    <div class="row">
        <div *ngFor= "let event of events" class="square  col-md-4 lg-3 sm-6">
            <h3 class="event_title">{{event.Title}}</h3>
            <h4>{{event.Date}}</h4>
            <div class="time">   
                <h5>{{event.start_time}} </h5>
                <h5> - </h5>
                <h5>{{event.end_time}} </h5>
            </div>
            <div class="controls">
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>


</div>